/* Style for first page */

nav {
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
}

.block {
    height: 6rem;
}

.input-field input[type=text] + label, .materialize-textarea:focus:not([readonly]) + label {
    color: black !important;
}

.input-field input[type=text], .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
}


.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: black !important;
}

.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
}


