/* Style for first page */

body {
    background-image: url("images/br.jpg");
}

nav {
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
}

.brand-logo {
    font-family: 'Allerta Stencil', sans-serif;
}

i:hover {
    color: black;
}

.brand-logo:hover {
    background-color: #00cc66;
    color: black;
}

h1 {
    font-family: 'Allerta Stencil', sans-serif;
}

.material-icons {
    vertical-align: middle;
}

.block {
    height: 6rem;
}


